name: Build WR720N OpenWrt-19.07

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y build-essential clang flex bison g++ gawk \
        gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev \
        rsync unzip zlib1g-dev file wget python3-distutils

        sudo ln -sf /usr/bin/python3 /usr/bin/python

    - name: Clone OpenWrt
      run: |
        git clone https://github.com/openwrt/openwrt.git
        cd openwrt
        git checkout v19.07.10

    - name: Update feeds
      run: |
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Configure
      run: |
        cd openwrt
        make defconfig

    - name: Build
      run: |
        cd openwrt
        make -j$(nproc) V=s FORCE=1

    - name: Upload firmware
      uses: actions/upload-artifact@v4
      with:
        name: firmware
        path: openwrt/bin/targets/
