name: Build WR720N

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y build-essential clang flex bison g++ gawk \
        gcc-multilib g++-multilib gettext git libncurses5-dev \
        libssl-dev python3-distutils rsync unzip zlib1g-dev file wget

    - name: Build firmware
      run: |
        chmod +x build.sh
        ./build.sh

    - name: Upload firmware
      uses: actions/upload-artifact@v4
      with:
        name: wr720n-openwrt
        path: |
          openwrt/bin/targets/**
