name: Build OpenWrt WR720N-18.06

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y build-essential clang flex bison g++ gawk \
        gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev \
        python3-distutils rsync unzip zlib1g-dev file wget

    - name: Fix python
      run: |
        sudo ln -sf /usr/bin/python3 /usr/bin/python

    - name: Clone OpenWrt
      run: |
        git clone https://github.com/openwrt/openwrt.git
        cd openwrt
        git checkout v18.06.9

    - name: Update feeds
      run: |
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Configure
      run: |
        cd openwrt
        cat <<EOF > .config
           CONFIG_TARGET_ar71xx=y
           CONFIG_TARGET_ar71xx_tiny=y
           CONFIG_TARGET_ar71xx_tiny_DEVICE_tl-wr720n-v3=y

           CONFIG_PACKAGE_luci=y

           CONFIG_PACKAGE_kmod-usb-core=y
           CONFIG_PACKAGE_kmod-usb2=y
           CONFIG_PACKAGE_kmod-usb-printer=y
           CONFIG_PACKAGE_p910nd=y
        EOF

        make defconfig

    - name: Build
      run: |
        cd openwrt
        make -j$(nproc)

    - name: Upload firmware
      uses: actions/upload-artifact@v4
      with:
        name: openwrt-wr720n
        path: openwrt/bin/targets/
